<% content_for :page_title, "Home" %>

<div class="row">
  <div class="col-8">
    <p class="h4">Latest posts</p>
    <% @posts.each do |post| %>
      <%= render partial: "posts/post", locals: { post: post } %>
      <%= post.details %>
    <% end %>
    <p>Total entries: <%= Post.total %> </p>
  </div>
  <div class="col-4">
    <p class="h4">About</p>
    <p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Deleniti error veniam, ducimus laboriosam aut repellendus? A, laboriosam qui doloribus iusto exercitationem tenetur esse id aliquam incidunt inventore labore omnis, quaerat. </p>

    <p class="h4">Categories</p>

      <% @categories.each do |category| %>
        <p><%= category.title %> - <%= category.total_count %></p>
      <% end %>

  </div>
</div>
